* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#outer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* min-height: 1340px; */
  background-image: url("../img/background_img.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 1280px;
  min-height: calc(100vh - 50px);
  /* height: 3000px; */
  /* border: solid 2px red; */
  background-image: url("../img/background_pattern.jpg");
  z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 7px;
}

.head_banner {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 100%;
  max-height: 50px;
  z-index: 2;
  background: #cc3333;
}

.particle {
  max-height: 50px;
  width: 100%;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 67px;
  position: sticky;
  top: 50px;
  background-image: url("../img/background_pattern.jpg");
  z-index: 10;
}

.nav_buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 24px;
  height: 60px;
  font-weight: bold;
  font-family: Arial;
}

.nav_buttons a:hover {
  border-bottom: 2px solid black;
}

.nav_buttons a {
  color: #cc3333;
}

#svg1 {
  width: 28px;
}

#svg2 {
  width: 33.5px;
}
#svg3 {
  width: 28px;
}
#svg4 {
  width: 28px;
}
#svg5 {
  width: 34px;
}
#svg6 {
  width: 33.5px;
}

#svg7 {
  width: 24px;
}

#svg8 {
  width: 24px;
}
.nav_icon {
  display: inline-flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
}

#bg1 {
  display: none;
  width: 100%;
  position: absolute;
  top: 1390px;
  background-image: url("../img/background_pattern.jpg");
}

@media screen and (max-height: 1390px) {
  #bg1 {
    display: flex;
  }
}

footer {
  display: flex;
  width: 100%;
  background-image: url("../img/background_pattern.jpg");
  flex-direction: column;
}
#footer_map {
  display: flex;
  align-items: flex-end;
  height: 100%;
  flex-grow: 1;
  min-width: 360px;
}

#search_map {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  border-top: #cc3333 1px solid;
  border-bottom: #cc3333 1px solid;
  margin-bottom: 10px;
  background-image: url("../img/background_pattern.jpg");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#txt_map {
  color: #cc3333;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
}

main {
  flex-grow: 1;
}

#soc1,
#soc2,
#soc3,
#soc4,
#soc5,
#soc6 {
  max-width: 37px;
  min-width: 37px;
  margin: 4px;
  display: flex;
}

#soc_icons img {
}

#soc_icons {
  display: flex;
  min-width: 40px;
  max-width: 40px;
}

/* CATALOG ITEMS */

.catalog {
  width: 177px;
  height: 263px;
  text-align: center;
  border: 1px #cc3333 solid;
  padding: 10px 0 0 0;
  margin: 5px 3px 5px 3px;
  float: left;
  display: inline;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.image_container {
  height: 210px;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.image1 {
  max-width: 157px;
  max-height: 210px;
  border: none;
  height: 100%;
}

#sidebar {
  background-image: url("../img/background_pattern.jpg");
  display: inline-block;
  float: top right;
  padding-bottom: 10px;
  margin: 5px 5px 10px 5px;
  width: 134px;
  height: 100px;
  position: sticky;
  top: 117px;
  z-index: 2;
  border: #cc3333 solid 1px;
}

#sidebar2 {
  background-image: url("../img/background_pattern.jpg");
  display: inline-flex;
  float: top right;
  padding-bottom: 9px;
  margin: 5px 5px 5px 5px;
  width: 134px;
  height: 32px;
  position: sticky;
  top: 230px;
  z-index: 2;
  border: #cc3333 solid 1px;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#sidebar_contact {
  padding-top: 4px;
  font-family: Arial;
  font-size: 14px;
}

#sidebar_number {
  padding-top: 4px;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}

#number_img {
  margin-bottom: 3px;
  border: none;
}

#sidebar3 {
  display: inline-block;
  float: top right;
  margin: 10px 5px 0px 5px;
  width: 134px;
  height: 268px;
  position: sticky;
  top: 274px;
  z-index: 2;
  border: #cc3333 solid 1px;
}

#adv_banner {
  max-width: 134px;
  max-height: 355px;
  height: 100%;
  width: 100%;
}

#new_items {
  font-family: Arial;
  font-size: 20px;
  color: white;
  width: auto;
  margin: 5px 0px;
  padding: 2px 5px;
  background-color: #cc3333;
  text-align: left;
  font-weight: bold;
}

#popular_items {
  float: left; /*float=обтекание текста*/
  font-family: Arial;
  font-size: 20px;
  color: white;
  width: 85.55%;
  margin: 5px 0px;
  padding: 2px 5px;
  background-color: #cc3333;
  text-align: left;
  font-weight: bold;
}

#ourself {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: Arial;
  padding-top: 8px;
  font-weight: bold;
}

.item_name {
  font-family: Arial;
  font-size: 11.5px;
  padding-top: 4px;
}

.fake_price {
  text-decoration: line-through;
  font-size: 16px;
  font-family: Arial;
}

.real_price {
  color: #cc3333;
  font-size: 22px;
  font-family: Arial;
}

.best_item span {
  line-height: 25px;
  color: white;
  padding: 5px 4px;
  font-size: 12px;
  display: inline-block;
  font-family: Arial;
  font-weight: bold;
}

#emoji_icon {
  max-width: 30px;
}

/* ШАБЛОООООООООООООООООООООООООООООООООООН 3278478238743287587 */

.main_photo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 430px;
  background-image: url("../img/background_pattern.jpg");
  margin: 15px;
  border: #cc3333 solid 1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  float: left;
}

.grafic_photo {
  max-height: 600px;
  max-width: 430px;
  height: 100%;
  width: 100%;
}

#all_sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  max-height: 652px;
}

#sidebar3_change {
  display: inline-block;
  float: top right;
  margin: 10px 5px 0px 5px;
  width: 134px;
  height: 354px;
  position: sticky;
  top: 274px;
  z-index: 2;
  border: #cc3333 solid 1px;
}

#sidebar2_change {
  background-image: url("../img/background_pattern.jpg");
  padding-bottom: 9px;
  margin: 5px 5px 5px 5px;
  width: 134px;
  height: 32px;
  position: sticky;
  top: 230px;
  z-index: 2;
  border: #cc3333 solid 1px;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.buy_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  /* background-color: aqua; */
  margin: 15px;
}

.typeh {
  text-decoration: black;
  font-weight: bold;
  font-family: Arial;
  font-size: 20px;
}

.buy_container {
  float: left;
}

.typeh_div {
  padding: 0px 4px 0px 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  height: 30px;
  /* border: solid 1px #cc3333; */
}

.osnov_info {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 20px;
  font-size: 18px;
  font-family: Arial;
  /* border: solid 1px #cc3333; */
  width: 600px;
  padding: 3px 4px 3px 4px;
}

.osnov_info p + p {
  padding-top: 10px;
}

.buy_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100px;
  /* background-color: aqua; */
  background-image: url("../img/background_pattern.jpg");
  border: solid 1px #cc3333;
  margin: 0 auto;
  flex-direction: column;
}

.buy_button {
  display: flex;
  border: 1px solid #cc3333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.price_buy {
  display: flex;
  align-items: center;
}

/* ХЕДЕР ШАБЛОООООООООООООООООООООООООООН */
.wrap2 {
  display: flex;
  flex-direction: column;
  width: 1280px;
  min-height: calc(100vh - 50px);
  height: 1000px;
  /* border: solid 2px red; */
  background-image: url("../img/background_pattern.jpg");
  z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 7px;
}

#new_items2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter Black";
  font-size: 36px;
  height: 44px;
  color: white;
  margin: 5px 0px;
  padding: 2px 5px;
  background-image: url("../img/gifka.gif");
  font-weight: bold;
}
